WHITECHAIN_RPC_URL=https://rpc-testnet.whitechain.io

# Deployer private key
PRIVATE_KEY=........................................................

# Players private keys
PLAYER_1_KEY=........................................................
PLAYER_2_KEY=........................................................
PLAYER_3_KEY=........................................................
